.settings
.project
target
.flattened-pom.xml
.classpath
.metadata
RemoteSystemsTempFiles
.recommenders
.sonarlint
.old
zk-single-kafka-single
**/src/test/resources/liberty
surefire-reports
/target/
*/**/.gitignore
**/target/*
**/.project
**/.classpath
**/.settings
**/.idea
**/*.iml
**/.metadata
**/.tern-project
*.rej
*.jsfdia
rebel.xml
rebel-remote.xml
*.xml.bak
test.properties
rest.properties
**/SSP-Arq-Test.log
*.persistence.xml
nbactions.xml
*.log
*.log.*
*.factorypath
/bin/
.run
/.idea/
debug.log
env.properties
/src/test/resources/drivers/*.exe